* {
  box-sizing: border-box;
}

body {
  background-color: #341f97;
  color: white;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

button {
  background-color: transparent;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  margin: 10px;
  
  
  border: none;
  outline:1px solid white;
  cursor: pointer;
  }

.actions-wrapper {

}


.actions-wrapper span {
  font-size: 40px;
  margin: 0 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  margin: -50px 20px 20px;
}

.timer-container h2{
  text-align: center;
  margin: 0;
}

.clock-container {
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 100px;
  display: inline-block;
  margin-top: 20px;
}

.clock-container h1 {
  margin: 0;
}

.clock-container span {
  font-size: 60px;
}